@font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

body {
  background-color: darkslategray;
  font-family: "Montserrat";
  color: white;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}
